# ASP.NET Core Environment
# The environment in which the application is running (e.g., Development, Staging, Production).
ASPNETCORE_ENVIRONMENT=

# API Configuration
# The port on which the API will run.
API_PORT=

# PostgreSQL Configuration
# Database credentials and connection details.
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_HOST=

# Database Connection String
# Full connection string for the PostgreSQL database.
CONNECTION_STRING=

# Email Configuration
# SMTP server details for sending emails.
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM=
EMAIL_ENABLE_SSL=

# Redis Configuration
# Redis server details for caching.
REDIS_HOST=
REDIS_PORT=
REDIS_CONNECTION_STRING=

# Seq Configuration
# URL for the Seq logging server.
SEQ_URL=

# RabbitMQ Configuration
# RabbitMQ server details for message queuing.
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=

# JWT Configuration
# JSON Web Token settings for authentication.
JWT_KEY=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_DURATION_IN_MINUTES=

# Google OAuth Configuration
# Google OAuth credentials for external authentication.
Google_ClientId=
Google_ClientSecret=
